.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.navbar-list{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}